body{
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    overflow: hidden;
}

main{
    background: linear-gradient(lightgreen,black);
    background-size: cover;
    background-position: center 0%;
    position: relative;
    z-index: 2;
    width: 100vw;
    height: 100vh;
    transition: transform 500ms cubic-bezier(.13,.53,.38,.97);
}

#nav-toggle{
    height: 5rem;
    width: 5rem;
    position: fixed;
    z-index: 3;
    left: 50%;
    bottom:3rem;
    transform: translateX(-50%);
    /* background-color: rgb(182, 142, 113); */
    background-color: lightgreen;
    border: none;
    border-radius: 5rem;
    outline: none;
    box-shadow: 0rem 0rem 4rem rgba(0 0 0 / 35%);
    cursor: pointer;
    transition: transform, background-color,box-shadow ;
    transition-timing-function: ease;
    transition-duration: 400ms;
}

#nav-toggle:hover{
    transform: translateX(-50%) scale(1.04);
    box-shadow: 4px 4px 20px rgba(144, 238, 144, 0.37);

}

#nav-toggle:active{
    transform: translateX(-50%) scale(0.96);

}

#nav-toggle > i {
    position : absolute ;
    left : 50%;
    top : 50%;
    transform : translate(-50%, -50%) scale(0.9);
    color : rgb(246, 231, 224);
    font-size: 1.75rem;
    opacity: 0;
    transition:  transform, opacity;
    transition-duration: 400ms;
    transition-timing-function: ease;
}

body:not([data-nav = "true"]) > #nav-toggle:hover > .open{
    opacity : 1;
    transform : translate(-50%, -50%) scale(1);


}

body[data-nav="true"] > #nav-toggle > .close{
    opacity: 1;
    transform: translate(-50%,-50) scale(1);

}

body[data-nav="true"] > main{
    transform: translateY(-70%);
}

#nav-links>.nav-link{
    text-decoration: none;
}

#nav-links > .nav-link > .nav-link-label{
    color: white;
    font-size: 1.25rem;
    margin: 0rem;
    text-transform:uppercase;
    text-shadow: 1px 1px lightgreen;
}

#nav-links > .nav-link > .nav-link-image{
    width: max(20vw,300px);
    aspect-ratio: 1.8 / 1;
    border-radius: 0.5rem;
    margin-top: 0.75rem;
    object-fit: cover;
}

nav{
    height: 70vh;
    width: 100%;
    position: absolute;
    left: 0px;
    bottom: 0px;
    z-index: 1;
}

#nav-links{
    overflow-y: scroll;
    font-family: 'Rubik', sans-serif;
    display: flex;
    gap:clamp(1rem, 2vw, 1.25rem);
    margin-top: clamp(2rem, 2vw,3rem);
    padding: 0rem clamp(1rem,2vw,2rem);
    transform: translateY(90%) scale(0.9); 
    transition: transform 500ms cubic-bezier(.13,.53,.38,.97);
}
#nav-links::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  #nav-links {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

body[data-nav="true"] > nav > #nav-links{
    transform: translateY(0%) scale(1);
}